name: 'Code Health'

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
      with:
        go-version-file: 'go.mod'
    - name: Build
      run: make build
  lint:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34
        with:
          go-version-file: 'go.mod'
          cache: false # see https://github.com/golangci/golangci-lint-action/issues/807
      - name: golangci-lint
        uses: golangci/golangci-lint-action@ec5d18412c0aeab7936cb16880d708ba2a64e1ae
        with:
          version: v1.63.4 # Also update GOLANGCI_VERSION variable in GNUmakefile when updating this version
      - name: actionlint
        run: |
          make tools
          echo "::add-matcher::.github/actionlint-matcher.json"
          actionlint -color
        shell: bash
      - name: shellcheck
        uses: bewuethr/shellcheck-action@d01912909579c4b1a335828b8fca197fbb8e0aa4
