name: 'Code Health'

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version-file: 'go.mod'
    - name: Build
      run: make build
    - name: Unit Test
      run: make test

  e2e:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
      with:
        go-version-file: 'go.mod'
    - name: setup Atlas CLI
      uses: mongodb/atlas-github-action@15663d068c40a8582d881560961fce9d45e0df9a
    - name: E2E Test
      run: make test-e2e
    
  lint:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
        with:
          go-version-file: 'go.mod'
          cache: false # see https://github.com/golangci/golangci-lint-action/issues/807
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
        with:
          version: v2.3.1 # Also update GOLANGCI_VERSION variable in GNUmakefile when updating this version
      - name: actionlint
        run: |
          make tools
          echo "::add-matcher::.github/actionlint-matcher.json"
          actionlint -color
        shell: bash
      - name: shellcheck
        uses: bewuethr/shellcheck-action@80bac2daa9fcf95d648200a793d00060857e6dc4
